ctransformers
sentence-transformers
pinecone-client
langchain==0.2.7
langchain-pinecone==0.0.3
langchain-text-splitters
langchain-core
langchain-community
langsmith
langserve
langsmith
flask
pypdf
langchain-groq
-e .
python-dotenv
