ctransformers
sentence-transformers
pinecone-client
langchain
langchain-pinecone
langchain-text-splitters
langchain-core
langchain-community
langsmith
langserve
langsmith
flask
pypdf
langchain-groq
-e .
python-dotenv
